@charset "utf-8";
/* CSS Document */
img, object, embed, video {
	max-width: 100%;
	background-color:#CCC;
}

.ie6 img {
	width:100%;
}

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color:#CCC;
}

#header{
	position:relative;
	background-color:#666;
	height:120px;
	border-bottom:solid;
	border-bottom-color:#CC3;
}
#app_icon{
	position:absolute;
	left:45%;
	width:30px;
	height:30px;
	margin:10px;
background-image:url(icons/fire-extinguisher.svg)
}
#parentDiv
{
    position:relative;
    overflow:hidden;
}
#leftDiv
{
	background-color:#999;
}
#rightDiv
{
	background-color:#6F6;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	background-color:#CCC;
}
#header{
	background-color:#666;
	height:100px;
	border-bottom:solid;
	border-bottom-color:#CC3;
}
#app_icon{
	position:absolute;
	left:0px;
	right:0px;
	width:100px;
	height:100px;
	margin:10px;
	background-image:url(icons/fire-extinguisher.svg)
}
#parentDiv
{
    position:relative;
    overflow:hidden;
}
#leftDiv
{
	background-color:#999;
}
#rightDiv
{
	background-color:#6F6;
}

#footer{
	width: 100%;
	position: relative;
	min-height: 200px;
	background-color:#666;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
	background-color:#CCC;
}
#header{
	background-color:#666;
	height:100px;
	border-bottom:solid;
	border-bottom-color:#CC3;
}
#app_icon{
	position:absolute;
	left:0px;
	right:0px;
	width:100px;
	height:100px;
	margin:10px;
	background-image:url(icons/fire-extinguisher.svg)
}
#parentDiv
{
    position:relative;
    overflow:hidden;
}
#leftDiv
{
    position:absolute;
	background-color:#999;
    left:0px;
    top:0px;
    right:50%; //Increase it if you want a little space between the 2 divs.
    min-height: 400px; // or bottom:0px; if you want a dynamic height

}
#rightDiv
{
    width:50%;
    float:right;
    min-height:400px;
	background-color:#6F6;
}

#footer{
	width: 100%;
	position: relative;
	min-height: 250px;
	background-color:#666;
}

}
